
:root {
  --animation-duration: 1s;
}

@keyframes slideOut{
  0% {
    transform: translateX(0%); opacity: 1;
  }

  100%{
    transform: translateX(-50%); opacity: 0;
  }
}

@keyframes slideIn{
  0% {
    transform: translateX(50%); opacity: 0;
  }

  100%{
    transform: translateX(0%); opacity: 1;
  }
}

@keyframes fadeIn{
  0% {
    transform: scale(0.4); opacity: 0;
  }

  100%{
    transform: scale(1); opacity: 1;
  }
}

@keyframes fadeOut{
  0% {
    transform: scale(1); opacity: 1;
  }

  100%{
    transform: scale(0.4); opacity: 0;
  }
}


.isOut {
  width: 100%;
  animation: slideOut var(--animation-duration);
}

.isIn {
  width: 100%;
  animation: slideIn var(--animation-duration);
};


